<ng-include src="'/partials/header2'"></ng-include>

<div class="app-content">
	<h2>{{pageName}}</h2>
	<p>
		The restaurant was established in 1976 by brothers Emilio and Leo Sposito. 
		They had moved to Ithaca from Fondi Italy to pursue their dreams, and eight years after arriving, they acccomplished 
		that dream by opening our restaurant's doors to the public.<br><br>
		Together they operated the restaurant until Leo's retirement in 2003. 
		The following year the restaurant moved to the Gateway Plaza right in downtown Ithaca.<br><br>
		From the beginning their plan was to create an authentic Italian experience that takes customers to Italy through the taste of their food. 
		The atmosphere has the constant aroma of home made dishes made from family recipes. 
		All sauces and dough are prepared fresh daily.<br><br>
		In 2004, when Brian Mosher heard that Emilio was considering retiring and closing the restaurant, he decided to carry on the traditions of the restaurant. 
		He purchased the business in November of 2004, and learned the recipes that made Ithaca's favorite Italian restaurant and pizzeria. 
		To this day, the restaurant maintains high customer volume through word-of-mouth due to the the quality of their food and service.
	<br><br>
		The restaurant is situated in the beautiful countryside in earlswood.
		The old historic building has plenty of charm but also carries a strong italian vibe to it.
	        The interior is traditionally Italian, and has a warm friendly feeling to it.<br>
		<br> The food is made to the perfection, our chefs only cook with the freshent ingredients, carefully sourced and provenance assured.
	<br><br>
		The restaurant is quite open planned out and has more private dining areas. 
		It also offers an extensive range of menus to suit all budgets and tastes.
	</p>
</div>
