<ng-include src="'/partials/header2'"></ng-include>

<div class="app-content">
	
	<h3>To know about our history</h3>
	<p> From home page, please click on "Hear our Story".<br>
	From any other page, please click the top most centre button. This will display a small popup. Please, select "About Us" option to know about us</p>

	<h3>To view the list of menus available</h3>
	<p>From home page, please click on any of the categories you like from 'Today's Menu' and you will be able to view the list of menu's for that category.<br> For example, you can click on "Appetizers" and you will be able to view the list of menu's under appetizer.<br>
	From any other page, please click on top most left button and it will list the categories from which you might want to select the menus
	</p>

	<h3>To add Orders</h3>
	<p> Click on the specific category you like. Once the menu's are listed, click on 'add to order' and the quantity will be placed.<br> 
	To add one more quantity, click on "add to order' again.  
	</p>
	<h3>To reviews Orders</h3>
	<p>Please, click on top most left button and click on 'Place the order'. New page will be displayed with all your orders added. You can review them </p>
	<h3>To cancel Orders</h3>
	<p></p>

	<h3>To reset Orders</h3>
	<p></p>

	<h3>To place Orders</h3>
	<p></p>

	<h3>To check your orders placed</h3>
	<p></p>

	<h3>To get Assistance</h3>
	<p></p>

	<h3>To talk to waiter</h3>
	<p></p>

	<h3>Authors</h3>
	<p>Alison Stump</p>
	<p>Jeanne Betcy Victor</p>
</div>