<ul class="menulist">
	<li ng-repeat='item in menuList'>
		<div class="menu-list-img" data-url="{{item.imgUrl}}">
			<img src="{{item.imgUrl}}" alt="">
		</div>
		<div class="menu-list-container">
			<div class="title">{{item.name}}</div>
			<div class="description">{{item.description}}</div>
			<div class="meta-data">
				<div class="quantity" ng-bind="getQuantity(item.name)"></div>
				<div class="cost">{{item.cost}}</div>
			</div>
			<button class="order" ng-click="addToOrder(item.name, item.cost, 1)">Add to Order</button>
		</div>
	</li>
</ul>
