.header {
    @include display(flex); 
    @include flex-direction(row);
    @include align-items(baseline);
    @include justify-content(space-between);
    height: $header-height;
    min-width: 320px;
    width: 100%; 
    position: absolute;
    background-color: $background-medium;
    z-index: 100;
    font-size: $base-body-padding;
    
    div {
        @include flex(1);
        position: relative;
        height: 100%;
        padding: $header-comp-padding;
        color: $font-color-lt;
        text-align: center;
        
        span{
            font-size: $medium-font-size;
            vertical-align: text-top;
        }
        &:first-child{
           text-align: left;
           font-size: $small-font-size;
        }
        &:last-child{
            text-align: right;
            font-size: $small-font-size;
        }
    }
    a, a:hover, a:active {
        text-decoration: none;
    }
    a{
        color: #fff;
    }
    .help{
        &.call{
            &:after{
                content: 'phone';
                font-size: 24px;
                position: absolute;
                top: 10px;
                left: 29px;
                color: #EDE0A7;
            }
        }
    }
}

.header2{
    div:first-child{
        padding-top: 0px;
        top: -6px;
    }
    div:last-child{
        @include flex(5);
        text-align: left;
        font-size: 24px;
    }
}