.header {
    @include display(flex); 
    @include flex-direction(row);
    @include align-items(baseline);
    @include justify-content(space-between);
    height: $header-height;
    width: 100%; 
    position: absolute;
    
    & > div {
        @include flex(1);
        position: relative;
        height: 100%;
        padding: $header-comp-padding;
        
        &:last-child{
            @include display(flex); 
            @include flex-direction(row);
            @include align-items(center);
            @include justify-content(flex-end);
            
            span{
                    font-size: 18px;
            }
            div{
                @include flex(1);
            }
        }
    }
}