.menulist{
	@include display(flex); 
    @include flex-direction(column);
    @include align-items(flex-start);
    @include justify-content(space-between);
    padding: 0;
    
    .btn{
		background-color: $background-dark;
	}

    li{
    	@include flex(1);
    	@include display(flex); 
	    @include flex-direction(row);
	    @include align-items(flex-start);
	    @include justify-content(space-between);
	    width: 100%;
	    margin: 0 0 20px 0;
    	
    }
	.menu-list-img{
		@include flex(1);
		padding: 0px;
		margin: 0 10px 0 0;
		max-height: 30%;
		overflow: hidden;
		
		img{
			height: 135px;
			margin-left:0%;
		}	
	}
	
	.menu-list-container{
		@include flex(2);
		@include display(flex); 
	    @include flex-direction(column);
	    @include align-items(stretch);
	    @include justify-content(flex-start);
		padding: 0 10px 0 0;
		
		& > div, button {
			@include flex(1);
			text-align: left;
			font-size: 12px;
			line-height: 16px;
			
		    .tile, .description, .quantity{
		    	text-align: left;
		    }
		    .cost{
		    	text-align: right;
		    }
		}
		.meta-data{
			@include flex(2);
			@include display(flex); 
		    @include flex-direction(row);
		    @include align-items(stretch);
		    @include justify-content(flex-start);
		    padding: 10px 0 0 0;
		    font-size: 10px;
		    
		    & > div {
		    	@include flex(1);
		    }
		}
		button{
			padding: 3px 5px;
			background-color: #f2f2f2;
			border: 0;
			text-align: center;
			margin-top: 10px;
			box-shadow: none;
			
			&:hover{
				background-color: transparent;
				font-weight: normal;
				border: 0;
			}
			&:focus{
				background-color: transparent;
				outline-color: transparent;
				outline-width: 0;
			}
			
			&.add-to-order{
				padding-left: 26px;
				margin-right: 10px;
				margin-bottom: 10px;
			}
			&.add-to-order, &.enable{
				&:hover{
				background-color: #c2c2c2;
				font-weight: normal;
				border: 0;
				}
				&:focus{
					@include background(linear-gradient(red, green) left repeat);
					outline-color: #999;
					outline-width: 0;
				}
			}
			&.removeQuantity{
				color: #999;
				&.enable{
					color: #333;
				}
			}
			span{
				display: block;
				position: absolute;
				margin: 1px 0 0 -20px;
				font-size: 16px;
			}
		}
		.title{
			line-height: 24px;
			font-size: 18px;
		}
	}

	
}