.slideMenu{
    & > ul {
        height: 100%;
        overflow-y: auto;
    }
}
.orderList{
    @include transition-property (height);
    @include transition-duration(0.8s);
    @include transition-timing-function(ease-out);
    @include transition-delay(0.1s);
    position: fixed;
    z-index: 100;
    max-height: 0;
    overflow: hidden;
    bottom: 0px;
    left: 0px;
    height: 100%;
    
    & > ul {
        height: 100%;
        position: relative;
        padding: 20px 15px;
        margin: 0 3%;
        overflow-y: auto;
        background-color: #fff;
        border-width: 2px 1px 0 1px;
        border-style: groove;
        border-color: #333;
    }

    .heading{
        margin-bottom: 5%;
    }

    .orderTools{
        @include transition-property (opacity);
        @include transition-duration(0.3s);
        @include transition-timing-function(ease-out);
        @include transition-delay(0.1s);
        opacity: 0;
    }

    &.show{
        max-height: 80%;
        .orderTools{
            @include transition-timing-function(ease-in);
            @include transition-duration(0.8s);
            opacity: 1;
        }
    }
}

.infoList{
    @include transition-property (opacity);
    @include transition-duration(0.8s);
    @include transition-timing-function(ease-out);
    @include transition-delay(0.1s);
    position: absolute;
    top: 0px;
    display: none;
    top: 8%;
    padding: 10px;
    ul {
        position: relative;
        background: #666;
        padding: 10px;
        &:after {
            bottom: 100%;
            left: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-color: rgba(102, 102, 102, 0);
            border-bottom-color: #666;
            border-width: 26px;
            margin-left: -26px;
        }
        li{
            margin: 5px;
            padding: 10px;
        }
    }
    &.show{
        display: block;
        opacity: 1;
    }
}

.navList{
    @include order(1);
    @include transition-property (all);
    @include transition-duration(0.5s);
    @include transition-timing-function(ease-in-out);
    @include transition-delay(0.1s);
    top: 0;
    left: 0;
    margin: 0;
    padding: $menu-topp-padding 0 0 0;
    height: 100%;
    overflow: hidden;
    width: 0%; /* needed for Firefox */
    background-color: $background-medium;
    
    & > ul {
        padding: 0;
        
        li {
            width: 100%;
        }
    }

    a {
        padding: 15px 10px;
        font-size: 18px;
        cursor: pointer;
        color: #c2c2c2;
        text-decoration: none;
        width: 100%;
        min-width: 200px;
        display: block;
        
        &:hover, &:active, &.nav-list-hover {
            background-color: darken($background-medium, 6%);
        }
    }
    &.show{
        @include transition-duration(0.8s);
        width: 200%;
    }
}
