<!doctype html>
<html lang="en" ng-app="myApp">
<head>
		<meta charset="utf-8">
		<base href="/">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>Interactive Mobile Menu</title>
		<meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/app.css">
		<script type="text/javascript" src="js/lib/jquery.min.js"></script>
	</head>
	<body ng-controller="AppCtrl" ng-init="callWaiter(false, 'cancelCall')">
		<div class="app">
			<div class="header">
				<div class="menu" ng-click="openMenu('navList')">
					<span class="icon-list"></span>
				</div>
				<div class="help icon {{callWaiterClass}}" ng-click="openMenu('infoList')">
					<span class="icon-info small"></span>
				</div>
				<div class="order" ng-click="openMenu('orderList')"><span class="icon-text2"></span></div>
	 		</div>
		    
			<div class="app-content" ng-view></div>
		</div>

		<div class="orderList slideMenu">
			<ul>
				<li class="heading"><h2>Your Order</h2></li>
			    <li class="order-list-items" ng-repeat='item in orderItems'>
	       			{{item.quantity}} <span class="grey-color">|</span> {{item.name}} - &#36;{{item.cost}} 
	       		</li>
	       		<li class="orderTools" ng-show="orderToolsShown()">
	       			<button class="text" ng-click="resetOrder()">reset</button>
					<div class="total">Total: <span ng-bind="order.total"></span></div>
					<a href="reviewOrder" ng-click="placeOrder()" class="btn">Place Your Order</a>
	       		</li>
			</ul>
	    </div>
	    <div class="infoList slideMenu">
			<ul>
				<li><a href="/about">About Us</a></li>
			    <li><a href="/aboutApp">About the App</a></li>
	       		<li>
	       			<a ng-hide="waiterCalled()" ng-click="callWaiter(true, 'call')">Call your Waiter</a>
	       			<a ng-show="waiterCalled()" ng-click="callWaiter(false, 'noCall')">Cancel Call to your Waiter</a>
	       		</li>
			</ul>
	    </div>
	    <div class="navList slideMenu">
	    	<ul>
	    		<li><a href="home">Home</a></li>
	    		<li ng-repeat='link in linkList'>
 					<a href="{{link.location}}">{{link.name}}</a>
 				</li>
				<li><a href="reviewOrder">Place Your Order</a></li>
	       </ul>
	    </div>

	    <!-- Scripts -->
		<script type="text/javascript" src="js/lib/angular/angular.js"></script>
		<script type="text/javascript" src="js/lib/angular/angular-resource.js"></script>
		<script type="text/javascript" src="js/lib/angular/angular-touch.js"></script>
        <script type="text/javascript" src="js/app.js"></script>
        <script type="text/javascript" src="js/services.js"></script>
        <script type="text/javascript" src="js/controllers.js"></script>
        <script type="text/javascript" src="js/filters.js"></script>
        <script type="text/javascript" src="js/directives.js"></script>
        <script type="text/javascript" src="js/script.js"></script>
	</body>
</html>

