/* Global Application Style & Layout */
/* Import Bourbon */
/* Typography */
@font-face {
  font-family: 'OpenSansRegular';
  src: url("font/opensans-regular-webfont.eot");
  src: url("font/opensans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("font/opensans-regular-webfont.woff") format("woff"), url("font/opensans-regular-webfont.ttf") format("truetype"), url("font/opensans-regular-webfont.svg#OpenSansRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'OpenSansRegular';
  src: url("font/opensans-light-webfont.eot");
  src: url("font/opensans-light-webfont.eot?#iefix") format("embedded-opentype"), url("font/opensans-light-webfont.woff") format("woff"), url("font/opensans-light-webfont.ttf") format("truetype"), url("font/opensans-light-webfont.svg#OpenSansLight") format("svg");
  font-weight: lighter;
  font-style: normal; }

@font-face {
  font-family: 'OpenSansRegular';
  src: url("font/opensans-bold-webfont.eot");
  src: url("font/opensans-bold-webfont.eot?#iefix") format("embedded-opentype"), url("font/opensans-bold-webfont.woff") format("woff"), url("font/opensans-bold-webfont.ttf") format("truetype"), url("font/opensans-bold-webfont.svg#OpenSansBold") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'OpenSansRegular';
  src: url("font/opensans-italic-webfont.eot");
  src: url("font/opensans-italic-webfont.eot?#iefix") format("embedded-opentype"), url("font/opensans-italic-webfont.woff") format("woff"), url("font/opensans-italic-webfont.ttf") format("truetype"), url("font/opensans-italic-webfont.svg#OpenSansItalic") format("svg");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'digimenu-glyphs';
  src: url("font/digimenu-glyphs.eot?k908pi");
  src: url("font/digimenu-glyphs.eot?#iefixk908pi") format("embedded-opentype"), url("font/digimenu-glyphs.woff?k908pi") format("woff"), url("font/digimenu-glyphs.ttf?k908pi") format("truetype"), url("font/digimenu-glyphs.svg?k908pi#digimenu-glyphs") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Layout */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

html, body, div {
  margin: 0;
  padding: 0;
  width: 100%; }

html {
  height: 100%;
  overflow: hidden; }

body {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  position: relative;
  overflow: hidden;
  margin: 0;
  height: 100%;
  width: 100%; }

@media screen and (min-width: 400px) {
  .btn {
    background-color: blue; } }

h1 {
  line-height: 2.57rem;
  text-align: center; }

h2 {
  margin-bottom: 0;
  font-size: 2.286rem;
  font-weight: lighter;
  text-transform: uppercase;
  margin-bottom: 1.071rem;
  line-height: 2.286rem;
  text-align: center; }

button.text {
  margin: 0;
  padding: 5px;
  background: transparent;
  border: 1px solid #999; }
  button.text:hover, button.text:active {
    background: #999;
    color: #f2f2f2; }

.dividedBtn {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0; }
  .dividedBtn button {
    border: 1px solid #999;
    background: transparent;
    width: 45%;
    padding: 10px;
    margin: 10px 0; }

.app {
  -webkit-box-ordinal-group: 2;
  -moz-box-ordinal-group: 2;
  box-ordinal-group: 2;
  -webkit-order: 2;
  -moz-order: 2;
  order: 2;
  -ms-flex-order: 2;
  position: relative;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  /* needed for Firefox */ }

.btn {
  width: 85%;
  padding: 15px 0;
  position: relative;
  display: block;
  margin: 0 auto;
  text-align: center; }

.btn-large {
  width: 100%;
  padding: 20px 10px; }

.menuList .btn {
  margin-top: 15px; }

/* Styles  */
/* Font Rules */
html {
  font-size: 87.5%; }

body {
  font-size: 14px;
  font-size: 1rem;
  line-height: 1; }

/* =14px */
h1 {
  margin-top: 26px;
  font-size: 2.57rem;
  font-weight: lighter; }

h2 {
  font-size: 2.286rem;
  font-weight: lighter;
  text-transform: uppercase;
  margin-bottom: 1.071rem; }

/* Color Rules */
body {
  background-color: #f2f2f2;
  font-family: "OpenSansRegular", OpenSansRegular, "Helvetica Neue", Helvetica, Arial, sans-serif; }

.grey-color {
  color: #999999; }

ul li {
  list-style: none; }
  ul li h2 {
    text-align: center; }

.btn {
  color: white;
  background-color: #666666;
  font-size: 1.286rem;
  text-decoration: none; }
  .btn:link, .btn:hover, .btn:active, .btn:visited {
    color: white;
    background-color: #666666;
    text-decoration: none; }

.btn-large {
  font-size: 1.714rem; }

/* Font Icons */
[class^="icon-"], [class*=" icon-"], .icon:before, .icon:after {
  font-family: "digimenu-glyphs";
  speak: none;
  /* Enable Ligatures */
  -webkit-font-feature-settings: "liga","dlig";
  -moz-font-feature-settings: "liga=1, dlig=1";
  -moz-font-feature-settings: "liga","dlig";
  -ms-font-feature-settings: "liga","dlig";
  -o-font-feature-settings: "liga","dlig";
  font-feature-settings: "liga","dlig";
  text-rendering: optimizeLegibility;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-warning:before {
  content: "\e600"; }

.icon-user:before {
  content: "\e601"; }

.icon-userTwo:before {
  content: "\e602"; }

.icon-users:before {
  content: "\e603"; }

.icon-user-add:before {
  content: "\e604"; }

.icon-twitter:before {
  content: "\e605"; }

.icon-tools:before {
  content: "\e606"; }

.icon-thumbsup:before {
  content: "\e607"; }

.icon-thumbsdown:before {
  content: "\e608"; }

.icon-text:before {
  content: "\e609"; }

.icon-textTwo:before {
  content: "\e60a"; }

.icon-star:before {
  content: "\e60b"; }

.icon-starTwo:before {
  content: "\e60c"; }

.icon-newspaper:before {
  content: "\e60d"; }

.icon-paperclip:before {
  content: "\e60e"; }

.icon-pencil:before {
  content: "\e60f"; }

.icon-phone:before {
  content: "\e610"; }

.icon-pinterest:before {
  content: "\e611"; }

.icon-plus:before {
  content: "\e612"; }

.icon-popup:before {
  content: "\e613"; }

.icon-question:before {
  content: "\e614"; }

.icon-quote:before {
  content: "\e615"; }

.icon-reply-all:before {
  content: "\e616"; }

.icon-reply:before {
  content: "\e617"; }

.icon-resize-enlarge:before {
  content: "\e618"; }

.icon-search:before {
  content: "\e619"; }

.icon-new:before {
  content: "\e61a"; }

.icon-mouse:before {
  content: "\e61b"; }

.icon-mobile:before {
  content: "\e61c"; }

.icon-minus:before {
  content: "\e61d"; }

.icon-menu:before {
  content: "\e61e"; }

.icon-map:before {
  content: "\e61f"; }

.icon-location:before {
  content: "\e620"; }

.icon-location3:before {
  content: "\e621"; }

.icon-bullet-list:before {
  content: "\e622"; }

.icon-list:before {
  content: "\e623"; }

.icon-linkedin:before {
  content: "\e624"; }

.icon-lifebuoy:before {
  content: "\e625"; }

.icon-layout:before {
  content: "\e626"; }

.icon-dots:before {
  content: "\e627"; }

.icon-ellipsis:before {
  content: "\e628"; }

.icon-email:before {
  content: "\e629"; }

.icon-facebook:before {
  content: "\e62a"; }

.icon-flashlight:before {
  content: "\e62b"; }

.icon-forward:before {
  content: "\e62c"; }

.icon-googleplus:before {
  content: "\e62d"; }

.icon-heart:before {
  content: "\e62e"; }

.icon-help:before {
  content: "\e64b"; }

.icon-help-two:before {
  content: "\e62f"; }

.icon-heart-two:before {
  content: "\e630"; }

.icon-house:before {
  content: "\e631"; }

.icon-info:before {
  content: "\e632"; }

.icon-info-two:before {
  content: "\e633"; }

.icon-document:before {
  content: "\e634"; }

.icon-dot:before {
  content: "\e635"; }

.icon-docs:before {
  content: "\e636"; }

.icon-cross:before {
  content: "\e637"; }

.icon-comment:before {
  content: "\e638"; }

.icon-compass:before {
  content: "\e639"; }

.icon-cog:before {
  content: "\e63a"; }

.icon-layout-two:before {
  content: "\e63b"; }

.icon-checkmark:before {
  content: "\e63c"; }

.icon-chat:before {
  content: "\e63d"; }

.icon-cart:before {
  content: "\e63e"; }

.icon-briefcase:before {
  content: "\e63f"; }

.icon-bookmark:before {
  content: "\e640"; }

.icon-arrow-down-small:before {
  content: "\e641"; }

.icon-arrow-left:before {
  content: "\e642"; }

.icon-arrow-up:before {
  content: "\e643"; }

.icon-arrow-right:before {
  content: "\e644"; }

.icon-arrow-down:before {
  content: "\e645"; }

.icon-arrow-up-small:before {
  content: "\e646"; }

.icon-bell:before {
  content: "\e647"; }

.icon-book:before {
  content: "\e648"; }

.icon-air:before {
  content: "\e649"; }

.icon-add-to-list:before {
  content: "\e64a"; }

/* components */
.slideMenu > ul {
  height: 100%;
  overflow-y: auto; }

.orderList {
  -webkit-transition-property: transition-property-names(height, "webkit");
  -moz-transition-property: transition-property-names(height, "moz");
  transition-property: transition-property-names(height, false);
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  transition-duration: 0.8s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  transition-delay: 0.1s;
  position: fixed;
  z-index: 100;
  max-height: 0;
  overflow: hidden;
  bottom: 0px;
  left: 0px;
  height: 100%; }
  .orderList > ul {
    height: 100%;
    position: relative;
    padding: 20px 15px;
    margin: 0 3%;
    overflow-y: auto;
    background-color: #fff;
    border-width: 2px 1px 0 1px;
    border-style: groove;
    border-color: #333; }
  .orderList .heading {
    margin-bottom: 5%; }
  .orderList .orderTools {
    -webkit-transition-property: transition-property-names(opacity, "webkit");
    -moz-transition-property: transition-property-names(opacity, "moz");
    transition-property: transition-property-names(opacity, false);
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
    transition-delay: 0.1s;
    opacity: 0; }
  .orderList.show {
    max-height: 80%; }
    .orderList.show .orderTools {
      -webkit-transition-timing-function: ease-in;
      -moz-transition-timing-function: ease-in;
      transition-timing-function: ease-in;
      -webkit-transition-duration: 0.8s;
      -moz-transition-duration: 0.8s;
      transition-duration: 0.8s;
      opacity: 1; }

.infoList {
  -webkit-transition-property: transition-property-names(opacity, "webkit");
  -moz-transition-property: transition-property-names(opacity, "moz");
  transition-property: transition-property-names(opacity, false);
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  transition-duration: 0.8s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  transition-delay: 0.1s;
  position: absolute;
  top: 0px;
  display: none;
  top: 4%;
  padding: 35px; }
  .infoList ul {
    position: relative;
    background: #666;
    padding: 10px; }
    .infoList ul:after {
      bottom: 100%;
      left: 0%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(102, 102, 102, 0);
      border-bottom-color: #666;
      border-width: 26px;
      margin-left: -26px; }
    .infoList ul li {
      margin: 0px;
      padding: 5px;
      height: 100%; }
  .infoList a {
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    color: #c2c2c2;
    text-decoration: none;
    width: 100%;
    min-width: 100px;
    display: block; }
    .infoList a:hover, .infoList a:active, .infoList a.nav-list-hover {
      background-color: #575757; }
  .infoList.show {
    display: block;
    opacity: 1; }

.navList {
  -webkit-box-ordinal-group: 1;
  -moz-box-ordinal-group: 1;
  box-ordinal-group: 1;
  -webkit-order: 1;
  -moz-order: 1;
  order: 1;
  -ms-flex-order: 1;
  -webkit-transition-property: transition-property-names(all, "webkit");
  -moz-transition-property: transition-property-names(all, "moz");
  transition-property: transition-property-names(all, false);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  transition-delay: 0.1s;
  top: 0;
  left: 0;
  margin: 0;
  padding: 38px 0 0 0;
  height: 100%;
  overflow: hidden;
  width: 0%;
  /* needed for Firefox */
  background-color: #666666; }
  .navList > ul {
    padding: 0; }
    .navList > ul li {
      width: 100%; }
      .navList > ul li:last-child {
        text-align: center; }
  .navList a {
    padding: 15px 10px;
    font-size: 18px;
    cursor: pointer;
    color: #c2c2c2;
    text-decoration: none;
    width: 100%;
    min-width: 200px;
    display: block; }
    .navList a:hover, .navList a:active, .navList a.nav-list-hover {
      background-color: #575757; }
  .navList.show {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
    width: 200%; }

.header {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-align: baseline;
  -moz-box-align: baseline;
  box-align: baseline;
  -webkit-align-items: baseline;
  -moz-align-items: baseline;
  -ms-align-items: baseline;
  -o-align-items: baseline;
  align-items: baseline;
  -ms-flex-align: baseline;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
  height: 38px;
  min-width: 320px;
  width: 100%;
  position: absolute;
  background-color: #666666;
  z-index: 100;
  font-size: 1.071rem; }
  .header div {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative;
    height: 100%;
    padding: 10px 5px;
    color: white;
    text-align: center; }
    .header div span {
      font-size: 1.143rem;
      vertical-align: text-top; }
    .header div:first-child {
      text-align: left;
      font-size: 0.7857rem; }
    .header div:last-child {
      text-align: right;
      font-size: 0.7857rem; }
  .header a, .header a:hover, .header a:active {
    text-decoration: none; }
  .header a {
    color: #fff; }
  .header .help.call:after {
    content: 'phone';
    font-size: 24px;
    position: absolute;
    top: 10px;
    left: 29px;
    color: #EDE0A7; }

.header2 div:first-child {
  padding-top: 0px;
  top: -6px; }
.header2 div:last-child {
  -webkit-box-flex: 5;
  -moz-box-flex: 5;
  box-flex: 5;
  -webkit-flex: 5;
  -moz-flex: 5;
  -ms-flex: 5;
  flex: 5;
  text-align: left;
  font-size: 24px; }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-width: 320px;
  background-color: #f2f2f2;
  border-top: 1px solid #999999;
  font-size: 0.7857rem;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify; }
  .footer div {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center;
    padding: 5px 10px;
    border-right: 1px solid #cccccc; }
    .footer div:last-child {
      border-right: 0; }
  .footer a {
    color: #666666;
    text-decoration: none; }
  .footer span {
    font-size: 1rem; }

.Confirmed {
  padding: 0 10px; }
  .Confirmed ul {
    margin-bottom: 20px; }
  .Confirmed .align-center {
    text-align: center; }

.menulist {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-align: start;
  -moz-box-align: start;
  box-align: start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  -o-align-items: flex-start;
  align-items: flex-start;
  -ms-flex-align: start;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
  padding: 0; }
  .menulist .btn {
    background-color: #333333; }
  .menulist li {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    -ms-flex-direction: row;
    -webkit-box-align: start;
    -moz-box-align: start;
    box-align: start;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    -ms-align-items: flex-start;
    -o-align-items: flex-start;
    align-items: flex-start;
    -ms-flex-align: start;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: justify;
    width: 100%;
    margin: 0 0 20px 0; }
  .menulist .menu-list-img {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 0px;
    margin: 0 10px 0 0;
    max-height: 30%;
    overflow: hidden; }
    .menulist .menu-list-img img {
      height: 135px;
      margin-left: 0%; }
  .menulist .menu-list-container {
    -webkit-box-flex: 2;
    -moz-box-flex: 2;
    box-flex: 2;
    -webkit-flex: 2;
    -moz-flex: 2;
    -ms-flex: 2;
    flex: 2;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-align: stretch;
    -moz-box-align: stretch;
    box-align: stretch;
    -webkit-align-items: stretch;
    -moz-align-items: stretch;
    -ms-align-items: stretch;
    -o-align-items: stretch;
    align-items: stretch;
    -ms-flex-align: stretch;
    -webkit-box-pack: start;
    -moz-box-pack: start;
    box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    -o-justify-content: flex-start;
    justify-content: flex-start;
    -ms-flex-pack: start;
    padding: 0 10px 0 0; }
    .menulist .menu-list-container > div, .menulist .menu-list-container button {
      -webkit-box-flex: 1;
      -moz-box-flex: 1;
      box-flex: 1;
      -webkit-flex: 1;
      -moz-flex: 1;
      -ms-flex: 1;
      flex: 1;
      text-align: left;
      font-size: 12px;
      line-height: 16px; }
      .menulist .menu-list-container > div .tile, .menulist .menu-list-container > div .description, .menulist .menu-list-container > div .quantity, .menulist .menu-list-container button .tile, .menulist .menu-list-container button .description, .menulist .menu-list-container button .quantity {
        text-align: left; }
      .menulist .menu-list-container > div .cost, .menulist .menu-list-container button .cost {
        text-align: right; }
    .menulist .menu-list-container .meta-data {
      -webkit-box-flex: 2;
      -moz-box-flex: 2;
      box-flex: 2;
      -webkit-flex: 2;
      -moz-flex: 2;
      -ms-flex: 2;
      flex: 2;
      display: -webkit-box;
      display: -moz-box;
      display: box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -moz-box-orient: horizontal;
      box-orient: horizontal;
      -webkit-flex-direction: row;
      -moz-flex-direction: row;
      flex-direction: row;
      -ms-flex-direction: row;
      -webkit-box-align: stretch;
      -moz-box-align: stretch;
      box-align: stretch;
      -webkit-align-items: stretch;
      -moz-align-items: stretch;
      -ms-align-items: stretch;
      -o-align-items: stretch;
      align-items: stretch;
      -ms-flex-align: stretch;
      -webkit-box-pack: start;
      -moz-box-pack: start;
      box-pack: start;
      -webkit-justify-content: flex-start;
      -moz-justify-content: flex-start;
      -ms-justify-content: flex-start;
      -o-justify-content: flex-start;
      justify-content: flex-start;
      -ms-flex-pack: start;
      padding: 10px 0 0 0;
      font-size: 10px; }
      .menulist .menu-list-container .meta-data > div {
        -webkit-box-flex: 1;
        -moz-box-flex: 1;
        box-flex: 1;
        -webkit-flex: 1;
        -moz-flex: 1;
        -ms-flex: 1;
        flex: 1; }
    .menulist .menu-list-container button {
      padding: 3px 5px;
      background-color: #f2f2f2;
      border: 0;
      text-align: center;
      margin-top: 10px;
      box-shadow: none; }
      .menulist .menu-list-container button:hover {
        background-color: transparent;
        font-weight: normal;
        border: 0; }
      .menulist .menu-list-container button:focus {
        background-color: transparent;
        outline-color: transparent;
        outline-width: 0; }
      .menulist .menu-list-container button.add-to-order {
        padding-left: 26px;
        margin-right: 10px;
        margin-bottom: 10px; }
      .menulist .menu-list-container button.add-to-order:hover, .menulist .menu-list-container button.enable:hover {
        background-color: #c2c2c2;
        font-weight: normal;
        border: 0; }
      .menulist .menu-list-container button.add-to-order:focus, .menulist .menu-list-container button.enable:focus {
        background: compact(linear-gradient(red, green) left repeat, false, false, false, false, false, false, false, false, false);
        background: compact(linear-gradient(red, green) left repeat, false, false, false, false, false, false, false, false, false);
        outline-color: #999;
        outline-width: 0; }
      .menulist .menu-list-container button.removeQuantity {
        color: #999; }
        .menulist .menu-list-container button.removeQuantity.enable {
          color: #333; }
      .menulist .menu-list-container button span {
        display: block;
        position: absolute;
        margin: 1px 0 0 -20px;
        font-size: 16px; }
    .menulist .menu-list-container .title {
      line-height: 24px;
      font-size: 18px; }

.order-list-items {
  width: 100%;
  margin-left: -15px;
  padding: 10px 20px; }

.orderTools {
  position: absolute;
  bottom: 3%;
  width: 100%;
  font-size: 18px; }
  .orderTools .total {
    margin: 10px 0;
    width: 100%;
    margin-left: -15px;
    text-align: center; }
  .orderTools .btn {
    width: 100%;
    padding: 5px 10px;
    text-align: center;
    margin-left: -15px;
    border-width: 1px 0;
    border-style: solid;
    border-color: transparent; }
    .orderTools .btn:hover, .orderTools .btn:active {
      background: #f2f2f2;
      color: #333;
      border-color: #666; }

.appContainer {
  position: relative;
  height: 100%;
  overflow: hidden; }

.app-content {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  padding: 38px 10px 10px 10px;
  line-height: 18px;
  height: 100%;
  overflow-y: scroll;
  min-width: 320px; }

.app-animate {
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.app-animate.ng-enter, .app-animate.ng-leave {
  -webkit-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s;
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s; }

.rtl .app-animate.ng-enter {
  -webkit-transform: translate3d(100%, 0, 0); }

.rtl .app-animate.ng-enter.ng-enter-active {
  -webkit-transform: translate3d(0, 0, 0); }

.rtl .app-animate.ng-leave.ng-leave-active {
  -webkit-transform: translate3d(-100%, 0, 0); }

.ltr .app-animate.ng-enter {
  -webkit-transform: translate3d(-100%, 0, 0); }

.ltr .app-animate.ng-enter.ng-enter-active {
  -webkit-transform: translate3d(0, 0, 0); }

.ltr .app-animate.ng-leave.ng-leave-active {
  -webkit-transform: translate3d(100%, 0, 0); }

.Home .helpBtn {
  position: relative;
  top: 5px;
  right: 5px;
  float: right;
  width: 21px;
  font-size: 21px; }
  .Home .helpBtn a, .Home .helpBtn a:link {
    color: #333;
    text-decoration: none; }
  .Home .helpBtn a:hover, .Home .helpBtn a:active {
    text-decoration: none;
    color: #666; }

/*@ sourceMappingURL=app.css.map */