// The grid

.Grid {
  display: flex;
}

.Grid-cell {
  flex: 1;
}

/* With gutters */
.Grid--gutters {
  margin-left: -1em;
}
.Grid--gutters > .Grid-cell {
  padding-left: 1em;
}

/* Alignment per row */
.Grid--top {
  align-items: flex-start;
}
.Grid--bottom {
  align-items: flex-end;
}
.Grid--center {
  align-items: center;
}

/* Alignment per cell */
.Grid-cell--top {
  align-self: flex-start;
}
.Grid-cell--bottom {
  align-self: flex-end;
}
.Grid-cell--center {
  align-self: center;
}