// /* Global Application layout rules*/
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

html, body, div {
    margin: 0;
    padding: 0;
    width: 100%;
}
html {
  height: 100%;
  overflow: hidden;
}
body {
    @include display(flex); 
    @include flex-direction(row);
    @include align-items(center);
    @include justify-content(center);
    position: relative;
    overflow: hidden;
    margin: 0;
    height: 100%;
    width: 100% /* needed for Firefox */
}

.btn{
    @media screen and (min-width: 400px){
        background-color: blue;
    }
}
h1{
    line-height: $h1-font-size;
    text-align: center;
}
h2 {
    margin-bottom: 0;
    font-size: $h2-font-size;
    font-weight: lighter;
    text-transform: uppercase;
    margin-bottom: $base-body-padding;
    line-height: $h2-font-size;
    text-align: center;
}

button.text{
    margin: 0;
    padding: 5px;
    background: transparent;
    border: 1px solid #999;
    
    &:hover, &:active{
        background: #999;
        color: #f2f2f2;
    }
}

.dividedBtn{
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    
    button{
        border: 1px solid #999;
        background: transparent;
        width: 45%;
        padding: 10px;
        margin: 10px 0;    
    }
}

.app {
    @include order(2);
    position: relative;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%; /* needed for Firefox */
}

//* make all a-links look like buttons
.btn {
    width: 85%;
    padding: 15px 0;
    position: relative;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.btn-large{
    width: 100%;
    padding: 20px 10px;
}

.menuList{
    .btn{
       margin-top: 15px;
    }
}