// /* Global Application style rules */

/* Font Rules */
html { font-size: $default-font-size-percentage;  } 
body { font-size: $default-font-size-px; font-size: $default-font-size; line-height: $default-line-height;} /* =14px */

h1{ 
    margin-top: 26px;
	font-size: $h1-font-size;
	font-weight: lighter;
}
h2 {
    font-size: $h2-font-size;
    font-weight: lighter;
	text-transform: uppercase;
    margin-bottom: $base-body-padding;
}

/* Color Rules */
body {
    background-color: $backgroundColor-main;
    font-family: $sans-serif;
}

.grey-color{
    color: $font-color-grey;
}

ul li {
    list-style: none;
    
    h2{
        text-align: center;
    }
}

//* buttons
.btn {
    color: $font-color-lt;
    background-color: $background-medium;
    font-size: $large-body-font-size;
    text-decoration: none;
    
    &:link, &:hover, &:active, &:visited{
    	color: $font-color-lt;
	    background-color: $background-medium;
	    text-decoration: none;	
    }
}

.btn-large{
	font-size: $extra-large-font-size;
}